.ui .fixed .menu {
  text-align: center;
  text-decoration: solid;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header-container h2 {
  margin: 0;
}

.ui.button.blue {
  margin-left: auto;
}


